/** global element styling **/

@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import 'https://fonts.googleapis.com/css?family=Aclonica';

* {
  margin: 0;
}

body {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Lato', sans-serif;
  padding-top: 300px;
}

#mainLogo {
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px 30px 20px 30px ;
  box-shadow: 30px 30px 30px 30px ;
  margin-bottom: 60px;

}


li {
  list-style: none;
}

a {
  text-decoration: none;
}


a:hover {
  color: #000000;
  transition-duration: 0.4s;
  border-radius: 10px;
  margin: 0 2 0 2;
} 



/** global classes styling **/

.container {
  /* max-width: 1000px; */
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 2px;
  background: transparent 50%;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  top: 0;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  position:fixed;
  z-index: 500;
  margin-bottom: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

#header-img {
  padding-top: 20px;
  max-width: 50%;
  max-height: 100%;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 20px 30px 20px 30px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,240,254,1) 0%, rgba(255,247,228,1) 90% );
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.logo > img {
  padding-left: 50px;
  width: 100%;
  height: auto;
  object-fit: contain;
} 

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

#sectionTitle {
  font-size: 100px;
  font-family: 'Aclonica';
  text-align: center;
  color: #ffffff;
  padding-top: 200px;
}



nav {
  font-weight: 400;
}

.nav-link {
  padding: 0 50px 0 50px !important;
  font-family: 'Aclonica', Times, serif;
  font-size: 20px;
  align-content: center;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 10px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 60vw;
  display: flex;
  flex-direction: column;
}


@media (max-width: 650px) {
  nav > ul {
    flex-direction: row;
  }
}

.spacer {
  padding-top: 20%;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
  margin-top: 50px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}



#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 20vw;
  color: #ff5c13;
}

.desc, .product {
  color: #ffffff;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#pricing {
  display: flex;
  flex-direction: row;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
